<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="about">
    <h2>About FCB</h2>
    <div class="cuadro-texto"> 
        <img  id= "imagen1"src="images/escudo1.jpg" alt="photo">
        <img  id= "imagen2"src="images/escudo2.jpg" alt="photo">
        <p class="parrafo">
            El Fútbol Club Barcelona (en catalán, Futbol Club Barcelona), conocido popularmente como Barça, es una entidad polideportiva con sede en Barcelona, España. Fue fundado como club de fútbol el 29 de noviembre de 1899 y registrado oficialmente el 5 de enero de 1903.
        </p>
    </div>
    <div>
        <a href="/works"> <button id="worksBtn1">Works</button></a>
            <a href="/home"> <button id="worksBtn2">Home</button></a>
    </div>
</div>


</body>
</html>