<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fc barcelona</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1 >fc barcelona  </h1>
        <div class="main-content">
            <p> </p>
        </div>
        <img  id="logofcb"src="images/logo-fcb.png" alt="escudo"/>
        <div class="botones">
            <a href="/about"> <button id="worksBtn1">About</button></a>
            <a href="/works"> <button id="worksbtn2" >Works</button></a>
            <section>
            <a href="https://www.fcbarcelona.es/es/"> https://www.fcbarcelona.es/es/</a>
            </section>
        </div>
    </div>
</body>
</html>