<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fc barcelona</title>
    <link rel="stylesheet" href="/works.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1 >TITULOS</h1>
        <div class="main-content">
            <p> El FC Barcelona a lo largo de su carrera a conseguido un total de 93 titulos oficiales los cuales son: </p>
            <ul>
                <li>26 ligas</li>
                <li>31 copas del Rey</li>
                <li>14 supercopas de españa</li>
                <li>2 copas de liga</li>
                <li> 5 champions league</li>
                <li>3 mundiales de clubes</li>
                <li>5 supercopas de Europa</li>
                <li>4 recopas de europa </li>
                <li>3 copas Eva Duarte</li>
            </ul>
        </div>
        <!-- <img  id="trofeos"src="images/trofeos.png" alt="trofeos"/> -->
        <div class="botones">
            <a href="/about"> <button id="worksBtn1">About</button></a>
            <a href="/home"> <button id="worksBtn2">Home</button></a>
        </div>
    </div>
</body>
</html>